<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libclargs" version="0.2.33" targetFramework="native" />
  <package id="libcssom" version="0.1.28" targetFramework="native" />
  <package id="libmikroxml" version="0.1.45" targetFramework="native" />
  <package id="libnitki" version="1.0.51" targetFramework="native" />
  <package id="libopros" version="1.0.57" targetFramework="native" />
  <package id="libpapki" version="1.0.109" targetFramework="native" />
  <package id="libr4" version="1.0.59" targetFramework="native" />
  <package id="libtst" version="0.3.7" targetFramework="native" />
  <package id="libutki" version="1.1.159" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.10" targetFramework="native" />
</packages>