<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libmikroxml" version="0.1.1" targetFramework="native" />
  <package id="libpapki" version="1.0.43" targetFramework="native" />
  <package id="libunikod" version="2.0.17" targetFramework="native" />
  <package id="libutki" version="1.1.13" targetFramework="native" />
</packages>