<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libclargs" version="0.2.26" targetFramework="native" />
  <package id="libcssom" version="0.1.24" targetFramework="native" />
  <package id="libmikroxml" version="0.1.41" targetFramework="native" />
  <package id="libnitki" version="1.0.48" targetFramework="native" />
  <package id="libopros" version="1.0.54" targetFramework="native" />
  <package id="libpapki" version="1.0.105" targetFramework="native" />
  <package id="libr4" version="1.0.56" targetFramework="native" />
  <package id="libtst" version="0.3.3" targetFramework="native" />
  <package id="libutki" version="1.1.149" targetFramework="native" />
  <package id="zlib_static" version="1.2.11.9" targetFramework="native" />
</packages>